.main {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
  }
  
  h1 {
    font-family: 'Neucha';
    font-size: 72px;
    line-height: 1.2em;
    color: #2A2626;
  }
  
  h2 {
    font-family: 'Neucha';
    font-size: 60px;
    line-height: 1.2em;
    color: #2A2626;
  }
  
  h3 {
    font-family: 'Neucha';
    font-size: 34px;
    line-height: 1.2em;
    color: #2A2626;
  }
  
  p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
  }

  before {
    content: '';
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }

  .title {
     width: auto;
     margin: 0;
     word-break: break-all;
  }

  .image {
     position: relative;
     height: 525px;
    margin-top: 55px;
     margin-right: -270px;
  }

  .section {
     display: flex;
     width: 100%;
     margin: 0 30px;
  }

  .link {
    margin: 24px 0 12px;
    font-weight: bold;
  }
